<html>
<body>
<LEFT>

Hello </b> 
 <h2 style="color:blue"> ${FirstName},</h2> <p/>
    
Welcome, To verify Please <a href= "${url}${webUrl}${token}${param}${Id}"> Click here </a><p/>


Thanks </p>
Newput Team.
  </LEFT>
</body>
</html>