<html>
<html>
<body>
<LEFT>
Hello </b> <h2 style="color:red"> ${FirstName},</h2> <p/>
 
Welcome, To verify Please click on the url : ${url}${webUrl}${token}${param}${Id}.<p/>
 
Thanks
Newput Team.
</LEFT>
</body>
</html>